PORT=8080
STATS_PORT=8081
BACKENDS=localhost:9000,localhost:9001,localhost:9002
REDIS_ADDR=localhost:6379
DASHBOARD_USER=admin
# DASHBOARD_PASS=changeme
# TLS_CERT=cert.pem
# TLS_KEY=key.pem
# OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318
# OTEL_SERVICE_NAME=edge-proxy
# OTEL_SAMPLE_RATIO=1
